UID=1000
GID=1000

PIE_IMAGE=ghcr.io/php/pie:bin

DEBIAN_MIRROR=http://deb.debian.org/debian
DEBIAN_SECURITY_MIRROR=http://deb.debian.org/debian-security

COMPOSER_REPOSITORY=https://repo.packagist.org
NPM_REGISTRY=https://registry.npmjs.org/

MYSQL_PORT=13307
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=laravel
MYSQL_USER=laravel
MYSQL_PASSWORD=secret

REDIS_PORT=16379

PHPMYADMIN_PORT=18080