UID=1000
GID=1000

# Enabled by default to preserve the current Dockavel stack.
# The interactive installer will rewrite this value based on user selections.
COMPOSE_PROFILES=php82,php85,mysql,redis,node,mysql-ui

DEBIAN_MIRROR=http://deb.debian.org/debian
DEBIAN_SECURITY_MIRROR=http://deb.debian.org/debian-security

COMPOSER_REPOSITORY=https://repo.packagist.org
NPM_REGISTRY=https://registry.npmjs.org/

MYSQL_PORT=13307
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=laravel
MYSQL_USER=laravel
MYSQL_PASSWORD=secret

POSTGRES_PORT=15432
POSTGRES_DB=laravel
POSTGRES_USER=laravel
POSTGRES_PASSWORD=secret

REDIS_PORT=16379

PHPMYADMIN_PORT=18080

PGADMIN_PORT=18081
PGADMIN_DEFAULT_EMAIL=admin@dockavel.local
PGADMIN_DEFAULT_PASSWORD=secret
