UID=1000
GID=1000

PIE_IMAGE=ghcr-mirror.liara.ir/php/pie:bin

DEBIAN_MIRROR=http://linux-mirror.liara.ir/repository/debian
DEBIAN_SECURITY_MIRROR=http://linux-mirror.liara.ir/repository/debian-security

COMPOSER_REPOSITORY=https://package-mirror.liara.ir/repository/composer/
NPM_REGISTRY=https://package-mirror.liara.ir/repository/npm/