server {
    listen 80;
    server_name {{DOMAIN}}.local;

    root /var/www/{{PROJECT_NAME}}/public;
    index index.php index.html;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include fastcgi_params;
        # Use one of: php82, php83, php84, php85
        fastcgi_pass {{PHP_SERVICE}}:9000;
        fastcgi_index index.php;

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $document_root;
    }

    location ~ /\.ht {
        deny all;
    }
}
